[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=decapapreta
EnvironmentFile=/home/decapapreta/db_config
WorkingDirectory=/home/decapapreta/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target 
